
    <div class="fixed-action-btn">

<a href="/stories/add" class="btn-floating btn-large waves-effect waves-light red hoverable  tooltipped data-position="bottom" data-delay="50" data-tooltip="ADD"><i class="fa fa-plus"></i></a>


</div>



