<h1>Welcome </h1>
<p>Welcome to book review app</p>
{{#if user}}
{{else}}
<a class="waves-effect hoverable red darken-1 btn" href="/auth/google"><i class="fa fa-google left"></i>Login with Google</a>
{{/if}}