<h1>Welcome to Readium app</h1>
<p> This is Medium like clone built using node js </p>
{{#if user}}
{{else}}
<a class="waves-effect hoverable red darken-1 btn" href="/auth/google"><i class="fa fa-google left"></i>Login with Google</a>
{{/if}}